.l-flex {
  display: flex;
}

.l-absolute-center {
  justify-content: center;
  align-items: center;
}

.l-justify-center {
  justify-content: center;
}

.l-align-center {
  align-items: center;
}

.l-none {
  display: none;
}

.l-block {
  display: block;
}