.c-color-grid {
  flex-wrap: wrap;
  width: 100%;
  height: calc(100% - 50px);
  height: 100vh;

  &__item {
    flex-direction: column;
    flex-grow: 1;
    min-width: 25%;
    min-height: 25%;
    white-space: pre-wrap;

    &:hover {
      cursor: pointer;
    }
  }

  &__item-text {
    width: 100%;
    background-color: #e4e3e338;
    color: #000;
    font-size: 18px;
    text-align: center;
    text-transform: lowercase;
  }
}
