.c-color-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(var(--site-min-width), 1fr));
  height: calc(100% - var(--nav-height));

  &__item {
    flex-direction: column;
    min-height: 100px;

    &:hover {
      cursor: pointer;
    } // .c-color-grid__item:hover
  } // .c-color-grid__item

  &__item-text {
    width: 100%;
    background-color: #e4e3e338;
    color: #000;
    font-size: 18px;
    text-align: center;
    text-transform: lowercase;
  } // .c-color-grid__item-text
} // .c-color-grid
