.c-color-grid {
  flex-wrap: wrap;
  height: calc(100% - 50px);

  &__item {
    flex-grow: 1;
    min-width: 25%;
    min-height: 25%;
  }

  &__item-text {
    width: 100%;
    background-color: #e4e3e338;
    font-size: 18px;
    text-align: center;
    text-transform: lowercase;
  }
}
