.c-modal-settings {
  &__check {
    --size: 20px;
    width: var(--size);
    height: var(--size);
    border-radius: 5px;
    background-color: #fff;

    &:checked {
      border: 1px solid red;
    } // .c-modal-settings__check:checked
  } // .c-modal-settings__check

  &__label {
    color: #fff;
    font-size: 2.8rem;
  } // .c-modal-settings__label

  &__settings-group {
    display: flex;
    align-items: center;
  } // .c-modal-settings__settings-group

  &__generate-button {
    margin-top: 10px;
    font-family: var(--font-family-helvetica);
    cursor: pointer;
  } // .c-modal-settings__generate-button

  &__generate {
    display: flex;
    flex-direction: column;
    margin-bottom: 200px;
  } // .c-modal-settings__generate

  &__generate-text-area {
    flex-grow: 1;
    min-height: 400px;
    background-color: #4e4e4e8a;
    color: #fff;
  } // .c-modal-settings__generate-text-area
} // .c-modal-settings
