.main {
  height: 100vh;
  font-family: 'Didact Gothic', sans-serif;
}

.c-grid {
  height: calc(100% - 50px);
  flex-wrap: wrap;
}

.c-grid__item {
  min-height: 25%;
  min-width: 25%;
  flex-grow: 1;
}

.c-grid__item-text {
  width: 100%;
  text-align: center;
  background-color: #e4e3e338;
  font-size: 18px;
  text-transform: lowercase;
}

.c-copy {
  position: absolute;
  z-index: 100;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.c-copy__value-container {
  width: 100%;
  height: 100px;
  background-color: #dcdcdc;
  opacity: 0.4;
}

.c-copy__value {
  font-size: 26px;
  opacity: 0.8;
}

.is-opaque {
  opacity: 0;
}

.is-shown {
  opacity: 1;
}