:root {
    // Sizes
    --site-min-width: 375px;
    --site-max-width: 1440px;
    --nav-height: 80px;
    // Fonts
    --font-family-helvetica: "Helvetica Neue", helvetica, arial, sans-serif;
    --font-size-default: 1.6rem;
}